body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
  
h1 {
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: bold;
    color: #2E475D;   
    }

h2 {
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: bold;
    color: #2E475D;   
    }

h3 {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: bold;
    color: #2E475D;   
    }
  
nav{
    float: center;
    position: relative;
    display: block;
    color: black;
    text-align: center;
    font-size: 20px;
    }