body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
  
h1 {
    font-size: 30px;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: bold;
    color: #2E475D;   
    }

h2 {
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: bold;
    color: #2E475D;   
    }

h3 {
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif; 
    font-weight: bold;
    color: #2E475D;   
    }
  
.container {
    display: flex;
    }
  
.item{
    align-items: center;
    justify-content: center;
    }
  
.navbar a {
    float: none;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    }
  
a { text-decoration: none; color:rgb(0, 0, 0); }
  a:hover { text-decoration: none; color:rgba(12, 16, 228, 0.651); }
  
.sidebar {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    }